.register{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}

.form-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

form{
display: flex;
flex-direction: column;
align-items: center;
}
form input{
    width: 100%;
    border: 1px solid black;
    margin-top: 20px;
    padding: 15px;
}

form button{
color: #FFFFFF;
width: fit-content;
padding: 0 100px;
height: 50px;
background-color: #18978F;
cursor: pointer;
border:1px solid teal;
transition: 0.2s;
}

form button:hover{
   color: teal;
   background-color: white;
}

span{
    font-weight: bold;
}