.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid gainsboro;
}

.brand p{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    cursor: pointer;
}

.main-categories ul{
    list-style-type: none;
    display: flex;
}

.main-categories ul li{
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.login-cart{
    gap: 20px;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.login-cart p{
    cursor: pointer;
    transition: 0.1s;
    text-decoration: none;
}

.login-cart p:hover{
    color: teal;
    text-decoration: underline;
}


/*Hamburger menu*/
.hamburger-menu{
    display: none;
    z-index: 99999;
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }
  .menu__btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

@media only screen and (max-width: 600px) {
    .hamburger-menu{
        display: initial;
        margin-top: 0;
    }
    .main-categories ul{
        display: none;
    }
    .brand p{
        font-size: 20px;
    }
    .login-cart{
        font-size: 15px;
    }
    .menu__btn{
        margin-top: 30px;
    }
    
}
